@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

:root {
    /* White Box Shadow */
    --whiteBoxShadow: 0px 0px 10px rgba(255, 255, 255, 0.7);

    /* Black Box Shadow */
    --blackBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 33, 33);
}

.outer-container {
    height: 790px;
    width: 440px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.container {
    height: 750px;
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.966);
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.innerContainer {
    height: 900px;
    width: 700px;
    border-radius: 50%;
    background-color: black;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
    position: absolute;
}

video {
    width: 100%;
    position: absolute;
    top: 35%;
    opacity: 0.7;
    user-select: none;
}

nav {
    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50%;
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bi-music-note,
.bi-soundwave {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    color: green;
    transition: all .2s ease-in-out;
}

.bi-music-note:active,
.bi-soundwave:active {
    transform: translateY(4px);
}

#songName {
    width: 50%;
    user-select: none;
    position: absolute;
    z-index: 1000;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 85%;
}

#author {
    font-size: 15px;
    margin-left: 5px;
}

.lyrics {
    color: white;
    font-size: 20px;
    height: 500px;
    width: 50%;
    z-index: 10000;
    background-color: rgba(175, 175, 175, 0.253);
    position: absolute;
    top: 50%;
    padding: 20px;
    border-radius: 20px;
    overflow: scroll;
    display: none;
    transition: all .3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
}

.lyrics::-webkit-scrollbar {
    height: 1px;
    width: 1px;
}

.spotify {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 1000;
    margin-top: 113%;
    box-shadow: var(--whiteBoxShadow);
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.spotify:active {
    transform: translateY(4px);
}

.spotify a i {
    text-decoration: none;
    color: green;
    font-size: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.spotify a:link,
.spotify a:visited,
.spotify a:hover,
.spotify a:active,
.spotify a:focus {
    color: green;
    text-decoration: none;
}

.progress {
    position: absolute;
    top: 75%;
    width: 90%;
}

.time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.progress input {
    width: 90%;
    cursor: pointer;
    background-color: red;
}

#range {
    -webkit-appearance: none;
    background-color: rgb(75, 75, 75);
    width: 100%;
    margin: 0px auto;
    height: 5px;
    border-radius: 5px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: green;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.controls {
    height: 90px;
    width: 90%;
    border-radius: 30px;
    background-color: rgba(116, 116, 116, 0.233);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 1000;
    top: 85%;
    color: white;
}

#play {
    height: 65px;
    width: 65px;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: green;
}

#reverse,
#next {
    height: 55px;
    width: 55px;
    font-size: 20px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: green;
}

#play:active,
#reverse:active,
#next:active {
    transform: translateY(4px);
}